* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  text-align: center; 
  background-image: url('./images/wp3789030-city-rain-wallpapers.jpg');
  background-size: cover;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  width: 650px;
  height: 250px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(200,200,200,0.2), 0px 0px 10px rgba(200,200,200,0.2), 0px 0px 10px rgba(200,200,200,0.2);

  font-size: 24px;
  color: white;
}

button {
  cursor: pointer;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  border-radius: 0.5rem;
  border: 2px solid rgba(0,0,0,0.3);
  background: none;
  padding: 10px;
  transition: 0.5s ease;

  color: white;
  font-size: 22px;
  font-weight: bolder;
}

button:hover {
  transform: scale(1.25);
  background-color: rgba(0,0,0,0.3);
}






